<!DOCTYPE html>
<html>
<head>
    <title></title>
    {% load staticfiles%}
    <script src="http://libs.baidu.com/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" herf="{% static "lib/js/bootstrap.min.js" %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static "lib/css/bootstrap.min.css" %}">
</head>
<body>
    <h1>{{hello}}</h1>
    <button type="button" class="btn btn-default" aria-label="Left Align">
  <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
</button>

<button type="button" class="btn btn-default btn-lg">
  <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Star
</button>
</body>
</html>
