<!DOCTYPE html>
<html>
<head>
    <title></title>
    {% load staticfiles%}
    <script src="http://libs.baidu.com/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static "lib/js/bootstrap.min.js" %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static "lib/css/bootstrap.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "lib/css/bootstrap-theme.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "lib/font/glyphicons-halflings-regular.svg" %}">
</head>
<body>
    <h1>{{hello}}</h1>

</body>
</html>
